@charset "UTF-8";

body {
	text-align: center;
}

h1{
	color:orange;
}
h2:first-letter {
  font-size: 150%;
  color: #eb6100;
}


header{
	text-align:right;
	background-color:#FFFF99}

#datepicker{
  display: inline-block;
  font-size:200%;

  }


