<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
	<span th:replace="menu"></span>
	<h2>新規タスク追加</h2>
	<span th:replace="time"></span>

	<br>
	<div style="color: red">※は必須項目です</div>

	<br>
	<form action="/todo/new" method="post">
		<table border="1">
			<tr>
				<th>カテゴリー <font style="color: red" id="kome">※</font></th>
				<td><select name="category" id="select">
					<option th:each="c:${session.categoryMap}" th:value="${c.key}"	th:text="${c.value}"></option>
				</select></td>
			</tr>
			<tr>
				<th>タスク <font style="color: red" id="kome">※</font></th>
				<td><input type="text" name="text" required id="box"></td>
			</tr>
			<tr>
				<th>期限 <div style="color: red"  id="kome">※日付のみ必須</div></th>
				<td><input id="select" type="date" name="date" required></input>　　　
					<input type="time" name="time" id="select"></input></td>
			</tr>
			<tr>
				<th>場所</th>
				<td><input type="text" name="place" id="box"></td>

			</tr>
			<tr id="addFont">
				<th>優先度</th>
				<td><input type="radio" name="priority" value="1" checked> 高　　　　
					<input	type="radio" name="priority" value="2"> 中　　　　
					<input	type="radio" name="priority" value="3"> 低</td>
			</tr>
			<tr id="addFont">
				<th>色選択</th>
				<td><input type="radio" name="color" value="black" checked> BLACK
						<span style="color: black" id="spColor">■　 </span>
					<input type="radio" name="color" value="red"> RED
						<span style="color: red" id="spColor">■　 </span>
					<input type="radio" name="color" value="blue"> BLUE
						<span style="color: blue" id="spColor">■　 </span>
					<input type="radio" name="color" value="green"> GREEN
						<span style="color: green"	id="spColor">■　 </span>
					<input type="radio" name="color" value="orange"> ORANGE
						<span style="color: orange"	id="spColor">■　 </span>
					<input type="radio" name="color" value="Deeppink"> PINK
						<span style="color: Deeppink" id="spColor">■　</span></td>
			</tr>
			<tr>
				<th>備考</th>
				<td><input type="text" name="remarks" id="box"></td>
			</tr>
		</table>
		<br> <input type="submit" value="　　完了　　" class="button">
	</form>

	<br>

</body>
</html>