<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
<span th:replace="menu"></span>
<h2>新規タスク追加</h2>
<span th:replace="time"></span>
<br>
<form action ="/todo/new" method="post">
<table border="1">
	<tr>
		<th>タスク</th><td><input type="text" name="text" required></td>
	</tr>
	<tr>
		<th>期限</th>
		<td> <input type="date" name="date" required></input><input type="time" name="time"></input></td>
	</tr>
	<tr>
		<th>場所</th><td><input type="text" name="place"></td>

	</tr>
	<tr>
		<th>優先度</th>
		<td>
		<select name="priority">
				<option value="1">高</option>
				<option value="2">中</option>
				<option value="3">低</option>
				</select>
				</td>
	</tr>
	<tr>
	<th>色選択</th>
	<td><select name="color" >
	<option value="black" style="background-color:black" selected>BLACK</option>
	<option value="red" style="background-color:red">RED</option>
	<option value="blue" style="background-color:blue">BLUE</option>
	<option value="green" style="background-color:green">GREEN</option>
	<option value="orange" style="background-color:orange">ORANGE</option>
	<option value="Deeppink" style="background-color:Deeppink">PINK</option>
	</select></td>
	</tr>
	<tr>
	<th>備考</th><td><input type="text" name="remarks"></td>
	</tr>
	</table>
<br>
	<input type="submit" value="完了" class="button">
</form>

	<br>




</body>
</html>