<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">


</head>
<body>
<span th:replace="menu"></span>


	<h2 th:text="${#dates.format(date, 'M月d日')}+'のタスク'" ></h2>

<form action="/todo/calendar/theDayBefore">
<input type="hidden" th:value="${date}" name="BEFORE">
<input type="submit" value="←前日のタスク" class="button">
</form>

<br>

<form action="/todo/calendar/nextDay">
<input type="hidden" th:value="${date}" name="NEXT">
<input type="submit" value="翌日のタスク→" class="button">
</form>

<span th:replace="time"></span>
<br>


	<form action="/todo/calendar" method="post" id="inline">
	<input type="hidden" name="date" th:value="${date}">
		<select name="sort" th:selected="${sort}">
			<option value="DATE" th:selected="${sort}==DATE">期限の早い順</option>
			<option value="PRIORITY" th:selected="${sort}==PRIORITY">優先度の高い順</option>
			<option value="CATEGORY_D" th:selected="${sort}==CATEGORY_D">カテゴリー別（期限の早い順）</option>
	        <option value="CATEGORY_P" th:selected="${sort}==CATEGORY_P">カテゴリー別（優先度の高い順）</option>
		</select>
		<input type="submit" value=" 並べ替え " class="button">
	</form>



	<br>
	<br>

	<table border="1">
		<tr><th class="CHECK">実行済み</th>
			<th class="CATE">カテゴリー</th>
			<th class="TEXT">タスク</th>
			<th colspan="2">期限</th>
			<th class="PLACE">場所</th>
			<th class="PRI">優先度</th>
			<th class="RE">備考</th>
			<th class="EDIT">変更</th>
			<th class="DEL">削除</th>
		</tr>

<span  th:each="task:${td}">
		<tr  >

			<form th:action="'/calendar/'+${task.code}+'/completed'" method="post">
				<td ><input type="submit" value=" ✓ " class="button"></td>
			</form>
			  	<td th:text="${session.categoryMap.get(__${task.categoryCode}__)}"></td>
				 <td ><a th:text="${task.text}" id="TEXT"></a><font th:style="'color:'+${task.color}"> ●</font >  </td>
			    <td class="DATE" th:text="${#dates.format(task.date, 'y年M月d日')}"></td>
			    <td class="TIME" th:text="${#dates.format(task.time, 'H:mm')}"></td>

				<td th:text="${task.place}"></td>
                <td  th:text="${task.priority}"></td>
				<td th:text="${task.remarks}"></td>
			<form th:action="'/todo/'+${task.code}+'/edit'">
				<td ><input type="submit" value="変更" class="button"></td>
			</form>

			<form action="/calendar/delete" method="post">
				<input type="hidden" name="code" th:value="${task.code}">
				<input type="hidden" name="date" th:value="${task.date}">
				<td ><input type="submit" value=" × " class="button"></td>
			</form>
		</tr>
		</span>
	</table>


	<br>





</body>
</html>