<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo</title>

<link th:href="@{/css/calender.css}" rel="stylesheet" type="text/css">


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet"
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css">
<script type="text/javascript" th:inline="javascript">


//$(document).ready(function() {


   // var SelectedDates = {};
   // SelectedDates[new Date('04/05/2016')] = new Date('04/05/2016');
   // SelectedDates[new Date('05/04/2017')] = new Date('05/04/2017');
   // SelectedDates[new Date('06/06/2018')] = new Date('06/06/2018');

  //  $('#txtDate').datepicker({
    //    beforeShowDay: function(date) {
      //      var Highlight = SelectedDates[date];
        //    if (Highlight) {
          //      return [true, "Highlighted", Highlight];
            //}
        //    else {
          //      return [true, '', ''];
   //         }
     //   }
//    });
//});


	$(function() {
//	var SelectedDate = new Array(getElementById("date"));

	$("#datepicker").datepicker({

			// 日付が選択された時、日付をテキストフィールドへセット
			onSelect : function(dateText, inst) {

				window.location.href = "/todo/calender/day?date="+dateText;



			}
		});
	});
</script>

</head>

<body>

<span th:replace="menu"></span>
<h2>カレンダー</h2>
<span th:replace="time" id="body"></span>
<br>
<font style=color:red>日付をクリックするとタスクが表示されます</font>
<br><br>

	<div id="datepicker"></div>

	<br>
	<br>

	<br>

</body>
</html>