<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<span th:replace="menu"></span>
<h2>カテゴリー一覧</h2>
<span th:replace="time" id="body"></span>
<br><br>
<font color="red" th:text="${msg}"></font>
<br><br>
<table border="1">
<tr>
<th>カテゴリー名</th><th>移動</th><th>削除</th>
</tr>
		<span  th:each="c:${cate}">
		<tr >
        <td th:text="${c.categoryName}"></td><td><form action="/category/list" method="post"><input type="submit" value="移動" class="button"><input type="hidden" name="code" th:value="${c.categoryCode}"></form></td>
        <td>


   <script>
function f() {
	return confirm("カテゴリーを消去すると、登録されているタスクも消去されますがよろしいですか？");
}
</script>
<form onSubmit="f();" action="/category/delete" >
    <input type="hidden" th:value="${c.categoryCode}" name="categoryCode">
	<input type="submit" value="削除" class="button">
</form>

         </td>
		</tr>
		</span>

</table>
</body>
</html>