<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<span th:replace="menu"></span>
<table border="1">
<tr>
<th>カテゴリー</th><th>移動</th>
</tr>
		<span  th:each="c:${cate}">
		<tr >
        <td ><form action="/category/list" method="post"><input type="submit" th:value="${c.categoryName}"><input type="hidden" name="code" th:value="${c.categoryCode}"></form></td>

		</tr>
		</span>

</table>
</body>
</html>