<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
</head>

<body>
<span th:replace="menu"></span>

<h2>パスワードの確認</h2>
<br>
<br>


<div class="box2">
<font color="red" th:text=${message}></font>

<form action="/check" method="post">
<fieldset id="inputs">
現在のパスワード:
<input type="password" name="password"  >
</fieldset>
<br>
<br>

<input type="submit" value="送信" class="button">
</form>
</div>
</body>
</html>