<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>

<h2>実行済みタスク</h2>

	<div class="right">
	<form action="">
	<select name="sort">
	<option value="DATE">期限の早い順</option>
	<option value="PRIORITY">優先度の高い順</option>
	</select>
	<input type="submit" value="並べ替え" class="button">
	</form>
     </div>

     <br>



<table border="1">
	<tr>
		<th></th><th>タスク</th><th colspan="2">期限</th><th>場所</th><th>優先度</th><th>削除</th>
	</tr>

		<tr th:each="task:${t}">

			<form th:action="'/todo/'+${task.code}+'/completed2'" method="post">
				<td ><input type="submit" value="実行済み解除" class="button"></td>
			</form>
				<td th:text="${task.text}"></td>
			    <td th:text="${task.date}"></td>
			    <td th:text="${#dates.format(task.time, 'H:mm')}"></td>

				<td th:text="${task.place}"></td>
                <td th:text="${task.priority}"></td>

			<form action="/todo/completed/delete" method="post">
				<input type="hidden" name="code" th:value="${task.code}">
				<td ><input type="submit" value="×" class="button"></td>
			</form>
		</tr>

	</table>

	<br>

<a href="/todo">タスク一覧へ戻る</a>
</body>
</html>