<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
<span th:replace="menu"></span>
<h2>実行済みタスク</h2>
<span th:replace="time"></span>
<br>
	<div class="right">
	<form action="">
	<select name="sort">
	<option value="DATE">期限の早い順</option>
	<option value="PRIORITY">優先度の高い順</option>
	</select>
	<input type="submit" value="並べ替え" class="button">
	</form>
     </div>

     <br>



<table border="1">
	<tr>
		<th class="CHECK"></th>
		<th class="CATE">カテゴリー</th>
		<th class="TEXT">タスク</th>
		<th colspan="2">期限</th>
		<th class="PLACE">場所</th>
		<th class="PRI">優先度</th>
		<th class="RE">備考</th>
		<th class="DEL">削除</th>
	</tr>

		<tr th:each="task:${t}">

			<form th:action="'/todo/'+${task.code}+'/completed2'" method="post">
				<td ><input type="submit" value="実行済み解除" class="button"></td>
			</form>
			 <td  th:text="${session.categoryMap.get(__${task.categoryCode}__)}"></td>
				<td th:text="${task.text}" th:style="'color:'+${task.color}"></td>
			    <td th:text="${#dates.format(task.date, 'y年M月d日')}"></td>
			    <td th:text="${#dates.format(task.time, 'HH:mm')}"></td>

				<td th:text="${task.place}"></td>
                <td th:text="${task.priority}"></td>
                 <td th:text="${task.remarks}"></td>
			<form action="/todo/completed/delete" method="post">
				<input type="hidden" name="code" th:value="${task.code}">
				<td ><input type="submit" value="×" class="button"></td>
			</form>
		</tr>

	</table>

	<br>


</body>
</html>