<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
<span th:replace="menu"></span>
<h2>タスクの編集</h2>
<span th:replace="time"></span>
<font style="color:red">※は必須項目です</font>
<br>
<form th:action="'/todo/'+${t.code}+'/edit'" method="post">
<table border="1">
<tr>
    <th>カテゴリー</th>
    <td>
    <select name="category">
    <option th:each="c:${session.categoryMap}" th:value="${c.key}" th:text="${c.value}"></opthion>
    </select></td>
    </tr>
 <tr>
    <th>カテゴリー　<font style="color:red">※</font></th>
    <td>
    <select name="category">
    <opthion th:each="c:${category}"><a th:each="${c.categoryName}><input type="hidden" th:value="${c.categoryCode} name="code"></opthion>
    </select></td>
    </tr>
	<tr>
		<th>タスク</th><td><input type="text" name="text" th:value="${t.text}" required id="box"></td>
	</tr>
	<tr>
		<th>期限　<font style="color:red ">※は日付のみ必須</font></th>
		<td> <input type="date" name="date" th:value="${t.date}" required>　<input type="time" name="time" th:value="${t.time}"></input></td>
	</tr>
	<tr>
		<th>場所</th><td><input type="text" name="place" th:value="${t.place}" id="box"></td>

	</tr>
	<tr>
		<th>優先度</th>
		<td><select name="priority">
				<option value="1">高</option>
				<option value="2">中</option>
				<option value="3">低</option>
				</select></td>
	</tr>
	<tr>
	<th>色選択</th>
	<td><select name="color">
	<option value="black" style="background-color:black" selected id="color">BLACK</option>
	<option value="red" style="background-color:red">RED</option>
	<option value="blue" style="background-color:blue">BLUE</option>
	<option value="green" style="background-color:green">GREEN</option>
	<option value="orange" style="background-color:orange">ORANGE</option>
	<option value="Deeppink" style="background-color:Deeppink">PINK</option>
	</select></td>
	</tr>
	<tr>
	<th>備考</th><td><input type="text" name="remarks" id="box"></td>
	</tr>
	</table>
<br>
	<input type="submit" value="完了" class="button">
</form>

	<br>



</body>
</html>