<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>

<h2>タスクの編集</h2>

<form th:action="'/todo/'+${t.code}+'/edit'" method="post">
<table border="1">
	<tr>
		<th>タスク</th><td><input type="text" name="task" th:value="${t.text}"></td>
	</tr>
	<tr>
		<th>期限</th>
		<td> <input type="date" name="date" th:value="${t.date}">　<input type="time" name="time" th:value="${t.time}"></input></td>
	</tr>
	<tr>
		<th>場所</th><td><input type="text" name="place" th:value="${task.place}"></td>

	</tr>
	<tr>
		<th>優先度</th><td><input type="text" name="priority" th:value="${t.priority}"></td>
	</tr>
	</table>
<br>
	<input type="submit" value="完了" class="button">
</form>
</body>
</html>