<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ToDO</title>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css">
</head>
<body>
<span th:replace="menu"></span>
<h2>パスワードの変更</h2>
<br>
<br>
新しく設定するパスワードを入力して下さい
<br>
<br>
<div class="box2">
<form action="/edit/password" method="post">
<fieldset id="inputs">
新しいパスワード：<input type="password" name="PASS"  >
<input type="hidden" th:value="${session.userInfo.name}" name="NAME">
<input type="hidden" th:value="${session.userInfo.email}" name="MAIL">
</fieldset>
<br>
<br>
<input type="submit" value="変更" class="button">
</div>
</form>
</body>
</html>