<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>

	<h2>タスク</h2>


	<table border="1">
		<tr>
			<th>実行済み</th>
			<th>タスク</th>
			<th>期限</th>
			<th>場所</th>
			<th>優先度</th>
			<th>編集</th>
			<th>削除</th>
		</tr>
		<tr  rowspan="2" th:each="task:${tasK}">

			<from th:action="'/todo/'+${task.code}+'/completed'">
				<td><input type="submit" value="✓"></td>
			</from>
				<td rowspan="2" th:text="${task,text}"></td>
			    <td th:text="${task,date}">7月7日</td>
				<td rowspan="2" th:text="${task,priority}"></td>
				<td rowspan="2" th:text="${task,priority}">高</td>
			<form th:action="'/todo/'+${task.code}+'/edit'">
				<td rowspan="2"><input type="submit" value="編集"></td>
			</form>
			<form>
				<td rowspan="2"><input type="submit" value="×"></td>
			</form>
		</tr>

		<tr>

			<td th:text="${task,time}"></td>

		</tr>
	</table>
	<br>

	<form action="/todo/new">
		<input type="submit" value="＋ 新しく追加">
	</form>

</body>
</html>