<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">


</head>
<body>
<span th:replace="menu"></span>

	<h2>未達成タスク</h2>
	<font color="orange">
<span th:replace="time" id="body"></span>
<br>
</font>
<div class="countTask">
	<a th:text="本日までのタスクは" ></a>
	<font color="blue" size="20" th:text="${countTask}"></font>
	<a th:text=" 件です"></a></div>
	<br>

	<form action="/todo" method="post" id="inline">
		<select name="sort" th:selected="${sort}">
			<option value="DATE"th:selected="${sort}==DATE">期限の早い順</option>
			<option value="PRIORITY" th:selected="${sort}==PRIORITY">優先度の高い順</option>
			<option value="CATEGORY_D" th:selected="${sort}==CATEGORY_D">カテゴリー別（期限の早い順）</option>
	        <option value="CATEGORY_P" th:selected="${sort}==CATEGORY_P">カテゴリー別（優先度の高い順）</option>
		</select>
		<input type="submit" value=" 並べ替え " class="button">
	</form>
　　　　　
	<form action="/search" method="post" id="inline">
		<input type="text" name="keyword" th:value="${keyword}" placeholder="search for task">
		<input type="submit" value=" 検索 " class="button">
	</form>
<br><br>

<div style="width:100%;height:500px;overflow:auto;">
<div style="display:inline-flex">

	<table id="t" class="sticky_table">
	<thead>
		<tr><th>残り日数</th></tr>
	</thead>
	<tbody>
		<tr th:each="LIST:${list}">
	<th:block th:if="${LIST.bl}">
		<td th:text="${LIST.dif}+'日'"></td>
	</th:block>
	<th:block th:unless="${LIST.bl}">
		<td th:text="${LIST.dif}+'日超過'" style="color:red"></td>
	</th:block>

		</tr>
	</tbody>
	</table>

	<table border="1" class="sticky_table">
	 <thead>
		<tr >
			<th class="CHECK">実行済み</th>
			<th class="CATE">カテゴリー</th>
			<th class="TEXT">タスク</th>
			<th colspan="2">期限</th>
			<th class="PLACE">場所</th>
			<th class="PRI">優先度</th>
			<th class="RE">備考</th>
			<th class="EDIT">変更</th>
			<th class="DEL">削除</th>
		</tr>
 		</thead>
 		<tbody>
		<span  th:each="task:${t}">
		<tr >

			<form th:action="'/todo/'+${task.code}+'/completed'" method="post">
				<td><input type="submit" value="✓" class="button"></td>
			</form>
                <td  th:text="${session.categoryMap.get(__${task.categoryCode}__)}"></td>
                <td ><a th:text="${task.text}" id="TEXT"></a><font th:style="'color:'+${task.color}"> ●</font >  </td>
			    <td class="DATE" th:text="${#dates.format(task.date, 'y年M月d日')}"></td>

			    <td class="TIME" th:text="${#dates.format(task.time, 'HH:mm')}"></td>
				<td th:text="${task.place}"></td>
                <td  th:text="${task.priority}"></td>
                <td th:text="${task.remarks}"></td>
			<form th:action="'/todo/'+${task.code}+'/edit'">
				<td ><input type="submit" value="変更" class="button"></td>
			</form>

			<form action="/todo/delete" method="post">
				<input type="hidden" name="code" th:value="${task.code}">
				<td ><input type="submit" value=" × " class="button"></td>
			</form>
		</tr>
		</span>
</tbody>
	</table>

</div>
</div>
	<br>

</body>
</html>