<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ToDo</title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>

	<h2>タスク</h2>


	<table border="1">
		<tr>
			<th>実行済み</th>
			<th>タスク</th>
			<th>期限</th>
			<th>場所</th>
			<th>優先度</th>
			<th>編集</th>
			<th>削除</th>
		</tr>

		<span  th:each="task:${t}">
		<tr  rowspan="2">

			<form th:action="'/todo/'+${task.code}+'/completed'">
				<td rowspan="2"><input type="submit" value="✓"></td>
			</form>
				<td rowspan="2" th:text="${task.text}"></td>
			    <td th:text="${task.date}"></td>
				<td rowspan="2" th:text="${task.priority}"></td>
				<td rowspan="2" th:text="${task.place}"></td>

			<form th:action="'/todo/'+${task.code}+'/edit'">
				<td rowspan="2"><input type="submit" value="編集" class="button"></td>
			</form>

			<form action="/todo/delete" method="post">
				<input type="hidden" name="code" th:value="${task.code}">
				<td rowspan="2"><input type="submit" value="×" class="button"></td>
			</form>
		</tr>

		<tr>

			<td th:text="${task.time}"></td>

		</tr>
		</span>
	</table>
	<br>

	<form action="/todo/new">
		<input type="submit" value="＋ 新しく追加" class="button">
	</form>

</body>
</html>