<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<title>ログイン</title>
</head>
<body id="body">

<h1>ToDoリストログイン</h1>
<font color="red" th:text="${msg}"></font>
<font color="red" th:text="${message}"></font>
<form action="/login" method="post">
メールアドレス：<input type="text" name="email" required>
<br>
　　パスワード：<input type="password" name="password" required>
<br>
<br>
<input type="submit" value="ログイン" class="button">
</form>
<br>
<a href="newUser">新規登録</a>
<img src="kaihatsu/pen-731199_1920.jpg">
</body>
</html>