<link th:href="@{/css/menu2.css}" rel="stylesheet" type="text/css">

<header>

	<div class="container">
		<h3 th:text="${session.userInfo.name}+'\'s Task'"></h3>
		<hr>
		<ul class="gnav">
			<li><a href="">カテゴリー</a>
				<ul>
					<li><a href="/category">カテゴリー一覧</a></li>
					<li><a href="/todo/category">カテゴリー追加</a></li>
				</ul></li>
			<li><a href="/todo">未達成タスク一覧</a></li>
			<li><a href="/todo/new">新規タスク追加</a></li>
			<li><a href="/todo/completed">実行済みタスク一覧</a></li>
			<li><a href="/todo/calender">カレンダー</a></li>
			<li><a href="">ユーザー</a>
				<ul>
					<li><a href="/logout">ログアウト</a></li>
					<li><a href="/deleteUser">退会</a></li>
				</ul>
			</li>
		</ul>
	</div>



	<nav>
		<h3 th:text="${session.userInfo.name}+'\'s Task'"></h3>
		<ul>
			<li><a href="/todo/category">カテゴリー追加</a></li>
			<li><a href="/category">カテゴリー一覧</a></li>
			<li><a href="/todo">未達成タスク一覧</a></li>
			<li><a href="/todo/new">新規タスク追加</a></li>
			<li><a href="/todo/completed">実行済みタスク一覧</a></li>
			<li><a href="/todo/calender">カレンダー</a></li>
			<li><a>ユーザー</a>
				<ul>
					<li><a href="/logout">ログアウト</a></li>
					<li><a href="/deleteUser">退会</a></li>
				</ul></li>
		</ul>
	</nav>
	<br> <br> <br>




</header>